.preload-images(hidden)
    - var n = 0
    while n < 36
        img(src=`./img/pc-sequnce-min/0000-${++n}-min.jpg`)
script(src="./js/index.js")
script(src="./js/cursor-pointer.js")
script(src="./js/circle-animation.js") 
script(src="./js/corousel.js") 
script(src="./js/menu.js")

