- var games_min_title = 'Игровой минимум "UM-1"'
- var content_creator_title = 'Машина для создания контента'
html(lang="ru")
    include includes/head.pug
    +head("Игровой минимум  UM-1")
    body
        include includes/menu.pug
        canvas.cursor-pointer
        .content-wrapper
            pre.--background-decor #{games_min_title}
            .content
                div
                    h2 #{games_min_title}
                    video(src="./img/gaming-min/cooler-rotate.mp4" autoplay control loop width='100%').--mt1
                    img(src="./img/gaming-min/assamble-1.jpg" width='100%').--mt1
                    img(src="./img/gaming-min/assamble-2.jpg" width='100%').--mt1
                    h3.--mt2 Комплект материнской платы Kllisre X99, LGA 2011–3 Xeon E5 2640 V4 ЦП DDR4 16 Гб (2 шт. 8 ГБ) 2133 МГц ECC память.
                    p Идеальный баланс между ценой и производительностью. 
                    p В рамках нашего бюджета у нас есть ограничения, которые не позволяют нам купить GPU бюджетом больше 20 000 рублей.
                    P В таких условиях нету смысла увеличивать стоимость комплекта материнской платы, CPU и RAM. Видеокарты с бюджетом 20 000 рублей и выше не смогут раскрыть весь потенциал на таком комплекте.
                    img.--mt1(src="./img/gaming-min/mbx99-kit.webp")
                    h3.--mt2 Видеокарта AMD RX 5700 8Gb
                    p Карта AMD не пользуется спросом как схожие от зеленых, за эти деньги на aliexpress можно купить только GTX 1660 Super, которая на 30% отстает в тестах и играх.
                    img.--mt1(src="./img/gaming-min/rx5700-1.jpg" width='100%')
                    img.--mt1(src="./img/gaming-min/rx5700-2.jpg" width='100%')
                    img.--mt1(src="./img/gaming-min/rx5700-3.jpg" width='100%')
                    h3.--mt2 Тесты производительности
                    h4.--mt1 "UserBenchmarks" 
                    a(href="https://www.userbenchmark.com/UserRun/64281540" target="_blank", rel="noopener noreferrer")
                        | https://www.userbenchmark.com/UserRun/64281540 
                    ul 
                        li UserBenchmarks: Game 64%, Desk 75%, Work 63%
                        li CPU: Intel Xeon E5-2640 v4 - 69.8%
                        li GPU: AMD RX 5700 - 91.2%
                        li SSD: Nx-512 2280 512GB - 218.6% 
                        li RAM: Hynix HMA41GR7MFR4N-TF 1x8GB - 32%
                    h4.--mt1 Для сравнения результаты моего ноутбука Thunderobot 911AirWaveD
                    ul
                        li UserBenchmarks: Game 52%, Desk 94%, Work 48%
                        li CPU: Intel Core i5-11400H - 83.8%
                        li GPU: Intel UHD Graphics - 4.7%
                        li GPU: Nvidia GeForce RTX 3050 Laptop GPU - 52.5%
                        li SSD:  KPEGYMTBU2E256GCGC 256GB - 237.2%
                        li SSD: Microsoft Storage Space Device 997GB - 86.8%
                        li RAM: Samsung M471A1K43EB1-CWE 2x8GB - 98%
                        li MBD: Thunderobot 911AirWaveD

                    
                    h4.--mt1 PCMark10
                    a(href="http://www.3dmark.com/pcm10b/1802697", target="_blank", rel="noopener noreferrer") 
                        | http://www.3dmark.com/pcm10b/1802697

                    h4.--mt1 "Игры" 
                    p Для тестов я установил игры:
                    ul
                        li Cyberpunk 2077 : 60-100fps в зависимости от сцен
                        li Red Dead Rebemption 2 : меньше 60 не опускается
                        li Ведьмак 3 : меньше 60 не опускается
                        li Counter-Strike Global Offencife : в прогоне FPS Bench 150+ в дыму 300+ осталные сцены
                    h3.--mt2 Корпус AeroCool AeroCool Cs-107-A-BK-v2
                    p Бюджетный, компактный, корпус с тремя встроенными вентиляторами, у которых приятная подсветка 
                    p У бюджетных корпусов есть ряд недостатков, которые я постарался устранить. 
                    p Например, тонкий метал, который как барабан может шуметь от любых вибраций, вентиляторы и т.п. 
                    p Для устранения я приобрел листы шумовиброизоляции для автомобилей и проклеил все панели, которые могут издавить шум. Обратная крышка заклеена полностью. Это может показаться ерундой, но повседневный комфорт этого стоит.
                    p Акриловая крышка — это тоже проблема, будет вся в царапинах. 
                    img(src="./img/gaming-min/assamble-3.jpg" width='100%').--mt1
                    img(src="./img/gaming-min/1.jpg" width='100%').--mt1
                    img(src="./img/gaming-min/2.jpg" width='100%').--mt1
                    img(src="./img/gaming-min/3.jpg" width='100%').--mt1
                    img(src="./img/gaming-min/4.jpg" width='100%').--mt1
                    img(src="./img/gaming-min/5.jpg" width='100%').--mt1
                    h3.--mt2 Блок питания DeepCool PF 600
                    p По БП все просто, один из самых доступных блоков с <a href="https://ru.wikipedia.org/wiki/80_PLUS">сертификацией 80+</a>. 
                    p Сертификация нам позволяет убедиться в том, что блок питания был протестирован независимой организацией при 100% нагрузке.
                    p Сам КПД и прочие экологические параметры нас не сильно волнуют, важно, что этот сертифицированный продукт, а значит прошел все тесты. 
                    p Высокий КПД, позволяет блоку меньше греться, что может положительно повлиять на шум вентилятора. 
                    p Часто бюджетные блоки питания не имеющие сертификации, не выдерживают и 50% нагрузки от заявленной. 
                    p Думаю, что 600Вт много для этой системы, но этот запас обеспечит нам комфорт и тишину. 
                    img(src="./img/gaming-min/pf600psu.webp" width='100%').--mt1
        include includes/footer.pug