- var mini_itx_custom = 'Кастомная itx сборка в JDM стиле'
html(lang="ru")
    include includes/head.pug
    +head("Кастомная itx сборка в JDM стиле")
    body
        include includes/menu.pug
        canvas.cursor-pointer
        .content-wrapper
            pre.--background-decor #{mini_itx_custom}
            .content
                div
                    h1 #{mini_itx_custom}
                    video(src="./img/mini-itx-custom/video_loop.mp4" autoplay control loop width='100%').--mt1
                    img(src="./img/mini-itx-custom/photo_1.jpg" width='100%').--mt1
                    img(src="./img/mini-itx-custom/photo_2.jpg" width='100%').--mt1
        .content-wrapper.content-wrapper--black
            pre.--background-decor Ryzen 5 5500
            .content
                div
                    h3.--mt2.--gradient-text Процессор Ryzen 5 5500
                    p Отличный процессор для повседневных, рабочих задач. С любыми играми справится без проблем.
                    p Имея 6 полноценных ядер, 12 потоков, давольно высокую чистоту по всем ядрам 4.3~Gh.
                    a(href="https://www.amd.com/en/products/cpu/amd-ryzen-5-5500") Ссылка на официальный сайт производителя.
        .content-wrapper
            pre.--background-decor FROSTFLOW X 120
            .content
                div
                    h3.--mt2.--gradient-text Охлаждение процессора ID-Cooling FROSTFLOW X 120
                    p Водяное охлаждение, с секцией рариатора 120мм. 
                    p Отлично справляется с нашим процессором в пассивном режиме. В моей сборке есть два 80мм вентилятора, которые протягивают воздух через корпус. Отдельный вентилятор для охлаждения процессора не требуется.
                    p Температуры процессора не примышают 75 градусов.
                    img(src="./img/mini-itx-custom/id-cooling-frostflow-x-120.jpg")
                    a(href="https://www.idcooling.com/Product/detail/id/147/name/FROSTFLOW%20X%20120") Ссылка на официальный сайт производителя.
        
        .content-wrapper.content-wrapper--black
            pre.--background-decor Fatal1ty B450 Gaming-ITX/ac
            .content
                div
                    h3.--mt2.--gradient-text  Материнская плата Fatal1ty B450 Gaming-ITX/ac
                    p Среднего уровня плата, есть возможность разгона процессора. 
                    p Есть возможность установить более старший проццесор. Например AMD Ryzen™ 7 5700G.
                    p Крутой встроенный звук, WI-FI, Bluetooth.
                    p Другие особенности платы можете посмотреть на сайте производителя.
                    a(href="https://www.asrock.com/mb/AMD/Fatal1ty%20B450%20Gaming-ITXac/index.ru.asp#Overview") Ссылка на официальный сайт производителя.
                    img(src="./img/mini-itx-custom/Fatal1ty_B450_Gaming_ITXacL1.png")
        .content-wrapper
            pre.--background-decor XPG Gammix D10
            .content
                div
                    h3.--mt2.--gradient-text  Оперативная память XPG Gammix D10 16 ГБ (8 ГБ x 2 шт.) DDR4 3000 МГц
                    p Оперативная память XPG Gammix D10 16 ГБ (8 ГБ x 2 шт.) DDR4 3000 МГц DIMM CL16 AX4U30008G16A-DR10
                    p Среднего уровня ОЗУ с возможность небольшого разгона.
                    p Минимальный для современных задач обьем 16Gb. Меньше не стоит, больше особого смысла не имеет. Только под узкие задачи.
                    a(href="https://www.adata.com/ru/xpg/486?tab=description") Ссылка на официальный сайт производителя.
                    img(src="img/mini-itx-custom/ddr4-xpg-gammax-d10-kv_desktop_1920x10801.jpg")
        
        .content-wrapper.content-wrapper--black
            pre.--background-decor Видеокарта Nvidia GTX 1660 Super 6Gb
            .content
                div
                    h3.--mt2.--gradient-text Видеокарта Nvidia GTX 1660 Super 6Gb
                    p Популярная карты, холодная. Отлично справляется со всеми играми в разрешение 1920*1080. Для 4К нужно подбирать из 4x или 3х тысечной ленейки.
                    a(href="https://www.gigabyte.com/ru/Graphics-Card/GV-N166SIXOC-6GD#kf") Ссылка на официальный сайт производителя.
                    img.--mt1(src="./img/mini-itx-custom/GTX1660Super_mini_itx.png" width='100%')
        .content-wrapper
            pre.--background-decor Тесты производительности
            .content
                div
                    h3.--mt2.--gradient-text Тесты производительности
                    h4.--mt1 "UserBenchmarks" 
                    a(href="https://www.userbenchmark.com/UserRun/64281540" target="_blank", rel="noopener noreferrer")
                        | https://www.userbenchmark.com/UserRun/64281540 
                    ul 
                        li UserBenchmarks: Game 64%, Desk 75%, Work 63%
                        li CPU: Intel Xeon E5-2640 v4 - 69.8%
                        li GPU: AMD RX 5700 - 91.2%
                        li SSD: Nx-512 2280 512GB - 218.6% 
                        li RAM: Hynix HMA41GR7MFR4N-TF 1x8GB - 32%
                    h4.--mt1 Для сравнения результаты моего ноутбука Thunderobot 911AirWaveD
                    ul
                        li UserBenchmarks: Game 52%, Desk 94%, Work 48%
                        li CPU: Intel Core i5-11400H - 83.8%
                        li GPU: Intel UHD Graphics - 4.7%
                        li GPU: Nvidia GeForce RTX 3050 Laptop GPU - 52.5%
                        li SSD:  KPEGYMTBU2E256GCGC 256GB - 237.2%
                        li SSD: Microsoft Storage Space Device 997GB - 86.8%
                        li RAM: Samsung M471A1K43EB1-CWE 2x8GB - 98%
                        li MBD: Thunderobot 911AirWaveD

                    
                    h4.--mt1 PCMark10
                    a(href="http://www.3dmark.com/pcm10b/1802697", target="_blank", rel="noopener noreferrer") 
                        | http://www.3dmark.com/pcm10b/1802697

                    h4.--mt1 "Игры" 
                    p Для тестов я установил игры:
                    ul
                        li Cyberpunk 2077 : 60-100fps в зависимости от сцен
                        li Red Dead Rebemption 2 : меньше 60 не опускается
                        li Ведьмак 3 : меньше 60 не опускается
                        li Counter-Strike Global Offencife : в прогоне FPS Bench 150+ в дыму 300+ осталные сцены
        .content-wrapper.content-wrapper--black
            pre.--background-decor Корпус AeroCool Cs-107-A-BK-v2
            .content
                div
                    h3.--mt2 Корпус 
                    h3.--gradient-text Корпус mini ITX Cryptone- I
                    p Бюджетный, itx корпус. Подвергся доработкам. 
                    p Довольно толстый метал, парашковая покраска.
                    img(src="./img/mini-itx-custom/crypton-i_1.png" width='100%').--mt1
                    img(src="./img/mini-itx-custom/crypton-i_2.png" width='100%').--mt1
                    img(src="./img/mini-itx-custom/crypton-i_3.png" width='100%').--mt1
                    p.--mt1 Отвратительный винты в комплекте, сразу были заказаты анадированные красные винты.
                    img(src="./img/mini-itx-custom/photo_3.jpg" width='100%').--mt1
                    p.--mt1 Была сделана на заказ крышка из поликарбаната, чтобы была возможность разметить водяное охлаждение.
                    img(src="./img/mini-itx-custom/photo_4.jpg" width='100%').--mt1
                    
        .content-wrapper
            pre.--background-decor METALFISH Flex 300w
            .content
                div
                    h3.--mt2 Блок питания 
                    h3.--gradient-text METALFISH Flex 300w
                    p Доступный flex-atx блок питания.
                    p Обеспечит мощность с запасом для нашей системы. Которая потрибляет суммарно около 180 Ватт.
                    p Обеспечивает комфортый уровень шума при нагрузке.
                    img(src="./img/mini-itx-custom/metalfish_psu_flex_atx.webp" width='100%').--mt1
        include includes/footer.pug