html(lang="ru")
    include includes/head.pug
    +head("Moza pr-p lite думпфер педали тормоза, инструкция")
    body

        p 1. Устанавливаем упорный болт
        div 
            p Картинка 1
            img(src="img/moza-srp-lite-dempher-instruction/photo_2024-05-06_05-04-24.jpg")
        p 2. С обратной стороны педали устанавливаем наборную пластину(ы), эти пластины нужны для того чтобы убрать или добавить свободный ход педали.
        div
            p
                b Картинка 2
            img(src="img/moza-srp-lite-dempher-instruction/photo_2024-05-06_05-04-22.jpg")
            p 
                b Картинка 3
            img(src="img/moza-srp-lite-dempher-instruction/photo_2024-05-06_05-04-34.jpg")
        p 3. Дальше нужно вставить демпфирующий элемент в опорный блок и установить блок на основание педали. Подбирайте положение и комбинации элементов на свой вкус и цвет
        div
            p 
                b Картинка 4
            img(src="img/moza-srp-lite-dempher-instruction/photo_2024-05-06_05-04-15.jpg")
            p 
                b Картинка 5
            img(src="img/moza-srp-lite-dempher-instruction/photo_2024-05-06_05-04-19.jpg")
        p 
            | 4. Проверьте рукой что все работает на как видео 
            a(href="https://youtube.com/shorts/eJOLv6BFz3g?si=8KPT872BoiOGkgCN")
                | https://youtube.com/shorts/eJOLv6BFz3g?si=8KPT872BoiOGkgCN
            |.

        p
            | 5. Настроить Moza Pithouse
            | Нажимаем педаль тормоза, с тем усилием которое нам комфортное для максимального торможения. 
            | Двигаем верхний ползунок влево как на картинке, положение ползунка нужно установить так, чтобы при вашем комфортном нажатии было 100%. 
            img(src="img/moza-srp-lite-dempher-instruction/photo_2024-05-06_11-57-36.jpg")

        p Приятной игры.

        